<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= pageTitle %></title>

        <% include ./partials/_headMeta %>

    </head>
    <body>

        <% include ./partials/_navigation %>

        <h1>Home Page</h1>




        <% include ./partials/_scripts %>

    </body>
</html>
