/* ------------------------------------------------------
    GENERAL STYLES
---------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 960px;
}
a:hover {
    text-decoration: none;
}

/* ------------------------------------------------------
    TYPOGRAPHY
---------------------------------------------------------*/

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans Condensed', serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #424342;
}

/* ------------------------------------------------------
    NAVIGATION BAR
---------------------------------------------------------*/
nav {
    background-color: #fff;
    padding: 20px 0;
}

.siteTitle {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 45px;
    color: #424342;
    font-weight: bold;
}
.siteTitle:hover {
    color: #424342;
    text-decoration: none;
}
.addPost {
    margin-top: 20px;
}

/* ------------------------------------------------------
    FORMS
---------------------------------------------------------*/

.blogPostNewForm {
    padding: 60px 0;
}
.formTitle {
    margin-bottom: 35px;
}


/* ------------------------------------------------------
    BUTTONS
---------------------------------------------------------*/
.btn-default {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.btn-default:hover {
    background-color: #fff;
}
.blue-btn {
    border-color: #80ced7;
    background-color: #80ced7;
    color: #fff;
}
.blue-btn:hover {
    border-color: #80ced7;
    background-color: #fff;
    color: #80ced7;
}
.edit {
    text-transform: uppercase;
    color: #ccc;
}

/* ------------------------------------------------------
    ALL POSTS
---------------------------------------------------------*/

.postContainer {
    max-width: 700px;
    padding: 60px 15px 30px 15px;
}
.postLink:hover h2 {
    color: #80ced7;
}

/* ------------------------------------------------------
    SINGLE POST
---------------------------------------------------------*/

.pageHeader {
    height: 600px;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    position: relative;
}
.pageHeaderCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.singlePostTitle {
    color: #fff;
    font-size: 65px;
    margin-top: 200px;
    text-shadow: 1px 1px 3px #000;
}
.postMeta {
    padding-bottom: 20px;
}
.postMeta h4 {
    letter-spacing: 1px;
}
.postMeta span {
    color: #80ced7;
}
.postContent {
    padding-bottom: 30px;
}
.postContent p {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 25px;
}
